<%- include('header'); -%>

<h1>This app is created by Shani</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum numquam dolor repudiandae sit asperiores. Tenetur numquam corrupti quas ab laudantium dignissimos provident iure vero dolores minima facilis natus officiis magni aut accusamus odio alias voluptates suscipit, culpa amet repellendus inventore ad excepturi deleniti? Asperiores dignissimos ab, laborum at omnis ut.</p>

<%- include('footer'); -%>